<div id="content">
  <h2>[% page_title %]</h2>
  <p>[% error %]</p>
  <form action="/account/pwd_lost" method="post">
    <input type="text" placeholder="Email" name="email">
    <input type="submit" value="send" name="submit">
  </form>
</div>
