<div id="content">
  [% INCLUDE admin_dash_menu.tt %]
  <div class="admin-area">
    <ul>
      <li><a href="/admin/blog/post/new" title="New Post">New Post</a></li>
      <li><a href="/admin/blog/posts/overview" title="Posts Overview">Posts Overview</a></li>
      <li><a href="/admin/blog/tags/overview" title="Tags Overview">Tags Overview</a></li>
    </ul>
  </div>
</div>
